<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.use.first.message.MessageDAO">

	<select id="findMessage" resultType="Integer">
		<![CDATA[
		select count(*) from alertmessage where a_date+3<=now()
		]]>
	</select>

	<insert id="sendMessage" parameterType="com.use.first.message.MessageVO">
		<![CDATA[
		insert into alertmessage(a_rid, a_mid, a_title, a_content)
		values(#{a_rid},#{a_mid},#{a_title},#{a_content})
		]]>
	</insert>


	<!-- 승빈 추가 시작 -->

	<select id="messageList" parameterType="String"
		resultType="com.use.first.message.MessageVO">
		<![CDATA[
		select  a_id, a_rid, a_mid, a_title, a_content, a_date 
		from alertmessage 
		where a_mid = #{a_mid}
		order by a_date desc;     
		]]>
	</select>

	<select id="messageInfo" parameterType="int"
		resultType="com.use.first.message.MessageVO">
	<![CDATA[
		select  a_id, a_rid, a_mid, a_title, a_content, a_date 
		from alertmessage 
		where a_id = #{a_id}

	]]>

	</select>



	<delete id="messageDelete"
		parameterType="com.use.first.message.MessageVO">
	<![CDATA[
		DELETE from alertmessage 
		WHERE a_id =#{a_id}
	]]>
	</delete>





	<select id="countMessageListTotal" resultType="int">
		SELECT count(*)
		FROM alertmessage
		WHERE a_mid=#{a_mid};
		<!-- <include refid="searchCondition"></include> -->
	</select>

	<sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == ''.toString()">
				AND m_name LIKE CONCAT ('%', #{keyword},'%')
			</if>
			<if test="searchType == 't'.toString()">
				AND m_id LIKE CONCAT ('%', #{keyword},'%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND m_name LIKE CONCAT ('%',
				#{keyword},'%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND m_point
				LIKE CONCAT ('%', #{keyword},'%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND m_regdate LIKE CONCAT ('%', #{keyword},'%')
			</if>
		</if>
	</sql>



	<select id="messageByMid" parameterType="String"
		resultType="com.use.first.message.MessageVO">
		<![CDATA[
		select  a_id, a_rid, a_mid, a_title, a_content, a_date 
		from alertmessage 
		where a_mid = #{a_mid}  
		order by a_date desc limit 2;   
		]]>
	</select>




	<!-- 승빈 추가 끝 -->



</mapper>



