<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.use.first.message.MessageDAO">

	<select id="findMessage" resultType="Integer">
		<![CDATA[
		select count(*) from alertmessage where a_date+3<=now()
		]]>
	</select>
	
	<insert id="sendMessage">
		<![CDATA[
		insert into alertmessage(a_rid, a_mid, a_title, a_content)
		values(#{r_id},#{r_mid},'대여 연체 알림 및 추가 결제 주의 안내', '고객님!\n\r현재 대여 중인 상품이 연체 중입니다.\n\r서둘러서 반납 요청을 통해 상품 반납 처리를 부탁드립니다.\n\r\n\r반납 요청 시 추가 연체 금액이 발생할 수 있으니 확인바랍니다.\n\r연체 금액은 대여 금액과 연체일을 통해 산정됩니다.\n\r문의사항이 있으시면 언제든지 연락바랍니다.\n\r감사합니다.')
		]]>
	</insert>
</mapper>



