<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.use.first.qna.QnaDAO">

	<select id="qnaList" resultType="com.use.first.qna.QnaVO" >
		SELECT q_id, q_mid, q_mname, q_type, q_title, q_content, q_date, q_readCount, q_reference, q_answer
		FROM qna
		WHERE 1 = 1
		<if test="searchType == 'c'.toString()">
			AND q_type LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="searchType == 't'.toString()">
			AND q_title LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="searchType == 'n'.toString()">
			AND q_mname LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="searchType == 'i'.toString()">
			AND q_mid LIKE CONCAT('%', #{keyword},'%')
		</if>
		ORDER BY q_reference DESC, q_id ASC
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="getQnaTotalCount" resultType="int">
		SELECT count(*) FROM qna WHERE 1 = 1
		<include refid="searchCondition"></include>
	</select>
	
	<sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == 'c'.toString()">
				AND q_type LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 't'.toString()">
				AND q_title LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'n'.toString()">
				AND q_mname LIKE CONCAT('%', #{keyword},'%')
			</if>
			<if test="searchType == 'i'.toString()">
				AND q_mid LIKE CONCAT('%', #{keyword},'%')
			</if>
		</if>
	</sql>
	
	<select id="qnaInfo" resultType="com.use.first.qna.QnaVO">
		SELECT q_id, q_mid, q_mname, q_type, q_title, q_content, q_date, q_readCount, q_reference, q_answer
		FROM qna
		WHERE q_id = #{q_id}
	</select>
	
	<update id="qnaRead" parameterType="int">
		<![CDATA[
		UPDATE qna SET q_readCount = #{param2} WHERE q_id = #{param1}
		]]>
	</update>
	
	<delete id="qnaDelete">
		<![CDATA[
		DELETE FROM qna WHERE q_id = #{q_id}
		]]>
	</delete>
	
	<update id="qnaUpdate" parameterType="com.use.first.qna.QnaVO">
		<![CDATA[
		UPDATE qna SET q_type=#{q_type}, q_title=#{q_title}, q_content=#{q_content}, q_date=now()
		WHERE q_id=#{q_id}
		]]>
	</update>
	
	<select id="qnaLastIndex" resultType="int">
		SELECT MAX(q_id) FROM qna
	</select>
	
	<insert id="qnaInsert" parameterType="com.use.first.qna.QnaVO">
		INSERT INTO qna (q_mid, q_mname, q_type, q_title, q_content, q_reference)
		VALUES (#{q_mid}, #{q_mname}, #{q_type}, #{q_title}, #{q_content}, #{q_reference})
	</insert>
	
	<select id="qnaSearchById" parameterType="String" resultType="com.use.first.qna.QnaVO">
		SELECT q_id FROM qna WHERE q_mid = #{q_mid}
	</select>
	
	<update id="qnaUpdateRef" parameterType="int">
		UPDATE qna SET q_reference = #{q_reference} WHERE q_id = #{q_reference}
	</update>
	
	
	
	
	
	
	<insert id="adminQnaInsert" parameterType="com.use.first.qna.QnaVO">
		insert into qna (q_mid, q_mname, q_type, q_title, q_content, q_date, q_reference, q_answer) 
		VALUES 
		(#{q_mid}, #{q_mname}, #{q_type}, #{q_title}, #{q_content}, now(), #{q_reference}, #{q_answer})
	</insert>
	
	<select id="adminQnaInfo" resultType="java.util.Map">
		select  a.q_id, b.q_reference,b.q_content from qna a, qna b where a.q_id=b.q_reference;
	</select>
	
	<select id="adminQnaAnswer" resultType="com.use.first.qna.QnaVO" >
		SELECT q_id, q_mid, q_mname, q_type, q_title, q_content, q_date, q_readCount, q_reference, q_answer
		FROM qna
		where q_mid = 'admin'
		ORDER BY q_id DESC
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="adminQnaList" resultType="com.use.first.qna.QnaVO" >
		SELECT q_id, q_mid, q_mname, q_type, q_title, q_content, q_date, q_readCount, q_reference, q_answer
		FROM qna
		where not q_mid = 'admin'
		ORDER BY q_id DESC
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<update id="adminQnaUpdate">
		update qna set q_answer = #{param1} where q_id = #{param2}
	</update>
	
	<update id="adminAnswerUpdate" parameterType="com.use.first.qna.QnaVO">
		update qna set q_content = #{q_content} where q_reference = #{q_reference}
	</update>
	
	<delete id="adminAnswerDelete" parameterType="com.use.first.qna.QnaVO">
		delete from qna where q_reference = #{q_reference}
	</delete>
	
	
</mapper>