#sort {
	text-align: left;
}

#textsearch {
	margin-left: 5px;
	margin-right: 5px;
	width: 250px;
}

#paging-div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#searchType {
	width: 85px;
	height: 38px;
	padding-left: 8px;
	font-size: 13px;
	color: #585858;
	border-radius: 5px;
}

#keyword {
	border-radius: 5px;
	border: solid 1px grey;
	width: 200px; 
	height: 38px;
}

#button{
color: #455a64;
}

#button:hover{ 
background-color:#7971ea;
color: white;
font-weight: bold;
border-color: #7971ea;
 }

 .btn-info2{
background-color: #4285F4;
color: white;
	
}