<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.use.first.buy.BuyDAO">
	
	
	<select id="buyList" resultType="com.use.first.buy.BuyVO" parameterType="map">
		<![CDATA[
		select b_id, b_rid, b_mid, b_pid, b_buydate, b_amount, b_how, b_state, b_purchase from buy where b_rid=#{b_rid}
		]]>
	</select>
	
	<insert id="buyInsert" parameterType="java.util.List">
		insert into buy (b_rid, b_mid, b_pid, b_buydate, b_amount, b_how, b_state, b_purchase, b_message) 
		VALUES 
		(#{b_rid}, #{b_mid}, #{b_pid}, now(), #{b_amount}, #{b_how}, #{b_state}, #{b_purchase}, #{b_message})
	</insert>
	
	<select id="buyInfo" resultType="com.use.first.buy.BuyVO">
		<![CDATA[
		select b_id, b_mid, b_pid, b_buydate, b_amount, b_how, b_state, b_purchase from buy where b_id=#{b_id}
		]]>
	</select>
	
	
	
	
	
	
	

	
</mapper>



